<p id="notice"><%= notice %></p>

<h1>タスク</h1><em>TODOを貯めていきます。サイトの改善につなげましょう。</em><br>
<%= link_to '新規タスク登録', new_task_path, class: 'btn btn-primary' %>
<%= link_to 'Excel出力',tasks_path(@task, format: :xlsx), class: 'btn btn-info' %>

<%= page_entries_info @tasks %>

<table class="table table-hover">
  <thead>
    <tr style="background-color: midnightblue;color: white;">
      <th><%= sortable "id", "ID" %></th>
      <th><%= sortable "title", "タイトル" %></th>
      <th><%= sortable "detail", "詳細" %></th>
      <th><%= sortable "due", "期限" %></th>
      <th><%= sortable "status", "ステータス" %></th>
      <th><%= sortable "remark", "備考" %></th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @tasks.each do |task| %>
      <tr class="<%= change_style2(task.status) == true ? 'color_lightgray' : '' %>">
        <td><%= task.id %></td>
        <td><%= task.title %></td>
        <td><%= task.detail %></td>
        <td><%= task.due %></td>
        <td><%= task.contents %></td>
        <td><%= task.remark %></td>
        <td><%= link_to '編集', edit_task_path(task),class: "btn btn-info btn-sm" %></td>
        <td><%= link_to '削除', task, method: :delete, data: { confirm: 'Are you sure?' },class: "btn btn-danger btn-sm" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @tasks %>
