<p id="notice"><%= notice %></p>

<h1>Tasks</h1>
<%= link_to 'New Task', new_task_path, class: 'btn btn-primary' %>
<%= link_to 'Excel出力',tasks_path(@task, format: :xlsx), class: 'btn btn-info' %>

<table class="table table-hover">
  <thead>
    <tr style="background-color: midnightblue;color: white;">
      <th>ID</th>
      <th>Title</th>
      <th>Detail</th>
      <th>Due</th>
      <th>Status</th>
      <th>Remark</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tasks.each do |task| %>
      <tr class="<%= change_style2(task.status) == true ? 'color_lightgray' : '' %>">
        <td><%= task.id %></td>
        <td><%= task.title %></td>
        <td><%= task.detail %></td>
        <td><%= task.due %></td>
        <td><%= task.contents %></td>
        <td><%= task.remark %></td>
        <td><%= link_to 'Show', task %></td>
        <td><%= link_to 'Edit', edit_task_path(task) %></td>
        <td><%= link_to 'Destroy', task, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
