<%= form_for(shain) do |f| %>
  <% if shain.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(shain.errors.count, "件") %>のエラーが発生しています。:</h2>

      <ul>
      <% shain.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-horizontal">
    <div class="form-group">
      <%= f.submit '実行', class: "col-sm-offset-2 btn btn-primary" %>
      <%= link_to 'キャンセル',shains_path,class: "btn btn-warning" %>
    </div>
    <div class="form-group">
      <%= f.label '社員番号', class: "col-sm-2 label-control" %>
      <div class="col-sm-8">
        <%= f.text_field :shain_id,class: "form-control" %>
      </div>
      <div class="col-sm-2"></div>
    </div>

    <div class="form-group">
      <%= f.label '名前',class: "col-sm-2 label-control" %>
      <div class="col-sm-8">
        <%= f.text_field :name, class: "form-control" %>
      </div>
      <div class="col-sm-2"></div>
    </div>

    <div class="form-group">
      <%= f.label '部署コード',class: "col-sm-2 label-control" %>
      <div class="col-sm-8">
        <%= f.collection_select :section_cd,
           @sections_for_options, :section_cd, :section_name,{},class: 'form-control' %>
      </div>
      <div class="col-sm-2"></div>
    </div>

    <div class="form-group">
      <%= f.label '部署',class: "col-sm-2 label-control" %>
      <div class="col-sm-8">
        <%= f.text_field :section,class: "form-control" %>
      </div>
      <div class="col-sm-2"></div>
    </div>

    <div class="form-group">
      <%= f.label :pb,class: "col-sm-2 label-control" %>
      <div class="col-sm-8">
        <%= f.text_field :pb,class: "form-control" %>
      </div>
      <div class="col-sm-2"></div>
    </div>

    <div class="form-group">
      <%= f.label 'グループコード',class: "col-sm-2 label-control" %>
      <div class="col-sm-8">
        <%= f.text_field :group_cd,class: "form-control" %>
      </div>
      <div class="col-sm-2"></div>
    </div>

    <div class="form-group">
      <%= f.label 'グループ',class: "col-sm-2 label-control" %>
      <div class="col-sm-8">
        <%= f.text_field :group_team,class: "form-control" %>
      </div>
      <div class="col-sm-2"></div>
    </div>

    <div class="form-group">
      <%= f.label 'グレード',class: "col-sm-2 label-control" %>
      <div class="col-sm-8">
        <%= f.text_field :grade,class: "form-control" %>
      </div>
      <div class="col-sm-2"></div>
    </div>

    <div class="form-group">
      <%= f.label :email,class: "col-sm-2 label-control" %>
      <div class="col-sm-8">
        <%= f.text_field :email,class: "form-control" %>
      </div>
      <div class="col-sm-2"></div>
    </div>

    <div class="form-group">
      <%= f.label '担当',class: "col-sm-2 label-control" %>
      <div class="col-sm-8">
        <%= f.text_field :charge,class: "form-control" %>
      </div>
      <div class="col-sm-2"></div>
    </div>

    <div class="form-group">
      <%= f.label '有効/無効',class: "col-sm-2" %>
      <div class="radio-inline col-sm-5">
        <label class="col-sm-2"><%= f.radio_button :del_flg, '0', checked: 'checked' %>有効</label>
        <label class="col-sm-2"><%= f.radio_button :del_flg, '1' %>無効</label>
      </div>
      <div class="col-sm-5"></div>
    </div>
</div>
<% end %>
