
<h2>社員情報一覧</h2>
<p id="notice"><%= notice %></p>
<%= link_to '社員新規登録', new_shain_path, class: 'btn btn-primary' %>
<%= page_entries_info @shains %>
<table class="table">
  <thead>
    <tr>
      <th>社員番号</th>
      <th>名前</th>
      <th>部門</th>
      <th>P/B</th>
      <th>グループ</th>
      <th>グレード</th>
      <th>Email</th>
      <th>役割</th>
      <th>削除フラグ</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @shains.each do |shain| %>
      <tr>
        <td><%= shain.shain_id %></td>
        <td><%= shain.name %></td>
        <td><%= shain.section %></td>
        <td><%= shain.pb %></td>
        <td><%= shain.group_team %></td>
        <td><%= shain.grade %></td>
        <td><%= shain.email %></td>
        <td><%= shain.charge %></td>
        <td><%= shain.del_flg %></td>
        <td><%= link_to '編集', edit_shain_path(shain), class: 'btn btn-info btn-sm' %></td>
        <td><%= link_to '削除', shain, method: :delete, data: { confirm: '削除してもよろしいですか？?' },class: 'btn btn-danger btn-sm' %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @shains %>
