<p id="notice"><%= notice %></p>
<p>
  <strong>Shain:</strong>
  <%= @shain.shain_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @shain.name %>
</p>

<p>
  <strong>Section:</strong>
  <%= @shain.section %>
</p>

<p>
  <strong>Pb:</strong>
  <%= @shain.pb %>
</p>

<p>
  <strong>Group:</strong>
  <%= @shain.group_team %>
</p>

<p>
  <strong>Grade:</strong>
  <%= @shain.grade %>
</p>

<p>
  <strong>Email:</strong>
  <%= @shain.email %>
</p>

<p>
  <strong>Charge:</strong>
  <%= @shain.charge %>
</p>

<p>
  <strong>Del flg:</strong>
  <%= @shain.del_flg %>
</p>

<%= link_to 'Edit', edit_shain_path(@shain) %> |
<%= link_to 'Back', shains_path %>
