<h2>交渉履歴登録</h2>
<%= form_for(@comment) do |f| %>
  <% if @comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@comment.errors.count, "件") %>のエラーがあります。</h2>
      <ul>
      <% @comment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-horizontal">
    <div class="form-group">
      <label class="col-sm-2 label-control">案件名</label>
      <label class="col-sm-8 label-control"><%= @anken.anken_name %></label>
      <div class="col-sm-2"></div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 label-control">対象年月日</label>
      <div class="col-sm-8">
        <%= f.text_field :ymd,:class => 'form-control',:placeholder => 'YYYY/MM/DD' %>
      </div>
      <div class="col-sm-2"></div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 label-control">案件コメント</label>
      <div class="col-sm-8">
        <%= f.text_area :anken_comment,class: "form-control",placeholder: "案件に関するトピックスを記載" %>
      </div>
      <div class="col-sm-2"></div>
    </div>
    <%= f.submit '履歴登録',:class => 'col-sm-offset-2 btn btn-primary' %>
    <%= link_to 'キャンセル',ankens_path, :class => 'btn btn-warning' %>
  </div>
<% end %>
