<h2>案件一覧</h2>
<% flash.each do |name, msg| %>
  <div class="alert alert-<%= name %>">
    <a class="close" data-dismiss="alert">×</a>
    <%= msg %>
  </div>
<% end %>
<%= link_to '新規案件登録', ankens_new_path, class: 'btn btn-primary' %>
<button type="button" class="btn btn-default" data-toggle="collapse" data-target="#searchCondition"
aria-controls="searchCondition"><span class="glyphicon glyphicon-plus"></span> 検索条件</button>

<div id="searchCondition" class="collapse">
  <div class="panel panel-default">
    <div class="panel-heading">
      検索条件
    </div>
    <div class="panel-body">
      <%= render "search",anken_search: @anken_search  %>
    </div>
  </div>
</div>
<%= link_to 'Excel出力',ankens_path(@anken, format: :xlsx), class: 'btn btn-info' %>

<table class="table table-bordered table-condensed table-hover table_custom">
  <thead>
    <th class = "active" style="width:2%"></th>
    <th class = "active" style="width:5%">主幹</th>
    <th class = "active" style="width:9%">顧客名</th>
    <th class = "active" style="width:10%">案件名</th>
    <th class = "active" style="width:15%">案件概要</th>
    <th class = "active" style="width:4%">STS</th>
    <th class = "active" style="width:6%">規模</th>
    <th class = "active" style="width:9%">期間</th>
    <th class = "active" style="width:6%">PM</th>
    <th class = "active" style="width:6%">アサイン</th>
    <th class = "active" style="width:5%">担当者</th>
    <th class = "active" style="width:4%">B</th>
    <th class = "active" style="width:6%">更新者</th>
    <th class = "active" style="width:8%">更新日</th>
    <th class = "active" style="width:5%"></th>
  </thead>
  <tbody>
    <% @ankens.each do |anken| %>
      <tr class="<%= change_style(anken.anken_status_cd) %>">
        <td rowspan="<%= anken.comment.length + 2 %>"><%= anken.id %></td>
        <td><%= anken.section.section_name %></td>
        <td><%= anken.customer.customer %></td>
        <td><%= link_to anken.anken_name, anken,class: "btn-link a_custom2" %>
          <span><%= image_tag "#{update_emphasis(:icon_contents,anken.created_at)}" %></span>
        </td>
        <td><%= anken.anken_summary.truncate(42) %></td>
        <td><%= anken.code_mst.contents %></td>
        <td><%= anken.budget_size == nil ? "" : anken.budget_size.truncate(15) %></td>
        <td><%= anken.start_date %><%= ' - ' %><%= anken.end_date %></td>
        <td><%= anken.pm %></td>
        <td><%= anken.asign_info == nil ? "" : anken.asign_info.truncate(15) %></td>
        <td><%= anken.tanto.tanto_name %></td>
        <td><%= anken.anken_ball_cd > 0 ? "PPT持ち" : "顧客持ち" %></td>
        <td><%= anken.last_update %></td>
        <td><%= anken.updated_at %></td>
        <td>
          <%= link_to '更新' ,ankens_edit_path(anken.id), class: 'btn btn-info btn-sm' %>
          <%= link_to '削除' ,anken,method: :delete,data: {confirm: '削除してもよろしいですか？'},
            class: 'btn btn-danger btn-sm' %>
        </td>
      </tr>
      <tr class="<%= change_style(anken.anken_status_cd) %>">
        <td rowspan="<%= anken.comment.length + 1 %>" colspan="2">
          <%= link_to 'コメント追加' ,comments_path(anken_id: anken.id),class: 'btn btn-success btn-sm',
           remote: true, 'data-toggle' => "modal", 'data-target' => "#comment_modal"  %>
        </td>
      </tr>
      <% anken.comment.each do |comment| %>
        <tr class="<%= change_style(anken.anken_status_cd) %>">
          <td class="<%= update_emphasis(:class_contents,comment.updated_at) %>"><%= comment.ymd %></td>
          <td colspan="9" class="<%= update_emphasis(:class_contents,comment.updated_at) %>"><%= comment.anken_comment.truncate(120) %></td>
          <td colspan="2"><%= link_to '編集',comments_edit_path(anken_id: anken.id,id: comment.id), class: "btn btn-default btn-sm",
              remote: true, 'data-toggle' => "modal", 'data-target' => "#comment_modal" %>
              <%= link_to '削除',comment,method: :delete,data: {confirm: '削除してもよろしいですか？'},
              class: 'btn btn-default btn-sm' %></td>
        </tr>
      <% end %>
    <% end %>
    <div id="comment_modal" class="modal fade" tabindex="-1"
         role="dialog" aria-hidden="true"></div>
  </tbody>
</table>
