<h2>案件一覧</h2>
<% flash.each do |name, msg| %>
  <div class="alert alert-<%= name %>">
    <a class="close" data-dismiss="alert">×</a>
    <%= msg %>
  </div>
<% end %>
<%= link_to '新規案件登録', ankens_new_path, class: 'btn btn-primary' %>
<button type="button" class="btn btn-default" data-toggle="collapse" data-target="#searchCondition"
aria-controls="searchCondition"><span class="glyphicon glyphicon-plus"></span> 検索条件</button>

<div id="searchCondition" class="collapse">
  <div class="panel panel-default">
    <div class="panel-heading">
      検索条件
    </div>
    <div class="panel-body">
      <%= render "search",anken_search: @anken_search  %>
    </div>
  </div>
</div>

<table class="table table-bordered table-condensed table-hover table_custom">
  <thead>
    <th class = "active" style="width:3%">id</th>
    <th class = "active" style="width:10%">顧客名</th>
    <th class = "active" tyle="width:10%">案件名</th>
    <th class = "active" style="width:20%">案件概要</th>
    <th class = "active" style="width:4%">STS</th>
    <th class = "active" style="width:6%">担当者</th>
    <th class = "active" style="width:5%">B</th>
    <th class = "active" style="width:6%">更新者</th>
    <th class = "active" style="width:14%">備考</th>
    <th class = "active" style="width:6%">登録日</th>
    <th class = "active" style="width:6%">更新日</th>
    <th class = "active" style="width:5%"></th>
    <th class = "active" style="width:5%"></th>
  </thead>
  <tbody>
    <% @ankens.each do |anken| %>
      <tr>
        <td rowspan="<%= anken.comment.length + 2 %>"><%= anken.id %></td>
        <td><%= anken.customer.customer %></td>
        <td><%= anken.anken_name %></td>
        <td><%= anken.anken_summary %></td>
        <td><%= anken.code_mst.contents %></td>
        <td><%= anken.tanto.tanto_name %></td>
        <td><%= anken.anken_ball_cd > 0 ? "PPTボール" : "顧客ボール" %></td>
        <td><%= anken.last_update %></td>
        <td><%= anken.remark %></td>
        <td><%= anken.created_at %></td>
        <td><%= anken.updated_at %></td>
        <td></td>
        <td>
          <%= link_to '更新' ,ankens_edit_path(anken.id), class: 'btn btn-info btn-sm' %>
          <%= link_to '削除' ,anken,method: :delete,data: {confirm: '削除してもよろしいですか？'},
            class: 'btn btn-danger btn-sm' %>
        </td>
      </tr>
      <td rowspan="<%= anken.comment.length + 1 %>">
        <%= link_to 'コメント追加' ,comments_path(anken_id: anken.id),class: 'btn btn-success btn-sm',
         remote: true, 'data-toggle' => "modal", 'data-target' => "#comment_modal"  %>
      </td>
      <% anken.comment.each do |comment| %>
        <tr>
          <td><%= link_to '編集',comments_edit_path(anken_id: anken.id,id: comment.id), class: "btn btn-info btn-sm",
                remote: true, 'data-toggle' => "modal", 'data-target' => "#comment_modal" %>
              <%= link_to '削除',comment,method: :delete,data: {confirm: '削除してもよろしいですか？'},
              class: 'btn btn-danger btn-sm' %></td>
          <td><%= comment.ymd %></td>
          <td colspan="9"><%= comment.anken_comment %></td>
        </tr>
      <% end %>
    <% end %>
    <div id="comment_modal" class="modal fade" tabindex="-1"
         role="dialog" aria-hidden="true"></div>
  </tbody>
</table>
